* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header {
    min-width: 100%;
    padding: 1em 0;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drawingCanvas {
    background-color: #DADADA;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 70vh;
    width: 70vh;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.pixel {
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.canvasRow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}


.pixel:hover {
    transition: .5s;
}

.canvasControls {
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
}

.slider {
    width: 100%;
}

.controlsSecondRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.clearCanvasButton, .randomColor, .rainbowMode {
    border: none;
    color: white;
    background: black;
    padding: 1em;
    border-radius: 15px;
    
}

footer {
    min-width: 100%;
    padding: 1em 0;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
}